{% extends 'base.html' %}

{% block navbar %} 
	<ol class="breadcrumb">
        <li class="breadcrumb-item active">Manage Employee</li>
      </ol>
{% endblock %}

{% block content %}  


	<div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>{{ table_name }}
          <i class="fa fa-button"></i>        
        </div>
        <div class="card-body">
<!-- **************Add Form Start*********************** -->           
        {% if form %}
        	<h4>Add Employee</h4>
        	<form action="/user/add" method="POST"> {% csrf_token %}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-4">
                <label for="exampleInputName">Name</label>
                {{ form.name }}
              </div>
              <div class="col-md-4">
                <label for="exampleInputLastName">Email Id</label>
                {{ form.email }}
              </div>
              <div class="col-md-4">
                <label for="exampleInputName">Password</label>
                {{ form.password }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-4">
                <label for="exampleInputLastName">Emloyee Id</label>
                {{ form.emp_id }}
              </div>
              <div class="col-md-4">
                <label for="exampleInputName">Thumb Id</label>
                {{ form.thumb_id }}
              </div>
              <div class="col-md-4">
                <label for="exampleInputLastName">Team</label>
                <select name="team" class="form-control">
                  <option value="#">-- Select Team --</option>
                  {% for team in team_list %}
                      <option value="{{ team.id }}">{{ team.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">              
              <div class="col-md-4">
                <label for="exampleInputName">Shift</label>
                <select name="shift_id" class="form-control">
                  <option value="#">-- Select Shift --</option>
                  {% for shift in shift_list %}
                      <option value="{{ shift.id }}">{{ shift.title }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <label for="exampleInputLastName">Paid Leaves</label>
                <select name="paid_leaves" class="form-control">
                  <option value="#">-- Select no. of paid leaves --</option>
                  {% for leave in paidLeaves_list %}
                      <option value="{{ leave.no_of_days }}">{{ leave.no_of_days }}</option>
                  {% endfor %}
                  <!-- <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option> -->
                </select>
              </div>
              <div class="col-md-4">
                <label for="exampleInputName">Employee Type</label>
                <select name="user_type" class="form-control">
                  <option value="#">-- Select No.of user type --</option>
                  {% for utype in utype_list %}
                      <option value="{{ utype.id }}">{{ utype.user_type }}</option>
                  {% endfor %}
                  <!-- <option value="2">Admin</option>
                  <option value="3">Employee</option> -->
                </select>
              </div>
            </div>
          </div>

          <input class="btn btn-success" type="submit" value="Add" style="float: left">
          <!-- <a class="btn btn-primary btn-block" href="login.html">Register</a> -->
        </form>
        <a href="/user" style="float: left"><button class="btn btn-primary">Cancel</button></a></td>
<!-- **************Add Form End*********************** --> 
<!-- **************Update Form Start*********************** -->

					{% elif e_form %}
		  	<h3>Update User : {{ user.name |upper}}</h3>	
				<form action="/user/{{ id }}/update" method="POST"> {% csrf_token %}						
          <!-- <div class="form-group">
            <div class="form-row">
              <div class="col-md-4">
                <label for="exampleInputName">Name</label>
                {{ e_form.name }}
              </div>
              <div class="col-md-4">
                <label for="exampleInputLastName">Email Id</label>
                {{ e_form.email }}
              </div>
              <div class="col-md-4">
                <label for="exampleInputName">Password</label>
                {{ e_form.password }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-4">
                <label for="exampleInputLastName">Emloyee Id</label>
                  {{ e_form.emp_id }}
              </div>
              <div class="col-md-4">
                <label for="exampleInputName">Thumb Id</label>
                  {{ e_form.thumb_id }}
              </div>
              <div class="col-md-4">
                <label for="exampleInputLastName">Team</label>
                <select name="team" class="form-control">
                  <option value="#">-- Select Team --</option>
                  {% for team in team_list %}
                      <option value="{{ team.id }}">{{ team.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div> -->

          <div class="form-group">
            <div class="form-row">             
              <div class="col-md-4">
                <label for="exampleInputName">Shift</label>
                <select name="shift_id" class="form-control">
                  <option value="#">-- Select Shift --</option>
                  {% for shift in shift_list %}
                      {% if user.shift_id == shift.id %}
                        <option value="{{ shift.id }}" selected="true">{{ shift.title }}</option>
                      {% else %}
                        <option value="{{ shift.id }}">{{ shift.title }}</option>
                      {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <label for="exampleInputLastName">Paid Leaves</label>
                <select name="paid_leaves" class="form-control">
                  <option value="#">-- Select no. of paid leaves --</option>
                  {% for leave in paidLeaves_list  %}
                      {% if user.paid_leaves == leave.no_of_days %}
                        <option value="{{ leave.no_of_days }}" selected="true">{{ leave.no_of_days }}</option>
                      {% else %}
                        <option value="{{ leave.no_of_days }}">{{ leave.no_of_days }}</option>
                      {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <label for="exampleInputName">Employee Type</label>
                <select name="user_type" class="form-control">
                  <option value="#">-- Select employee type --</option>
                  {% for utype in utype_list %}
                      {% if user.user_type == utype.id %}
                        <option value="{{ utype.id }}" selected="true">{{ utype.user_type }}</option>
                      {% else %}
                        <option value="{{ utype.id }}">{{ utype.user_type }}</option>
                      {% endif %}
                  {% endfor %}
                  <!-- <option value="2">Admin</option>
                  <option value="3">Employee</option> -->
                </select>
              </div>
            </div>
          </div>

          <input class="btn btn-success" type="submit" value="Update" style="float: left">
        </form>
        <a href="/user" style="float: left"><button class="btn btn-primary">Cancel</button></a></td>

						<br>
						<br>
<!-- **************Update Form End*********************** -->  

					{% else %}
						<!-- <a href="/user/add" title="Add Employee" style="position: fixed; bottom: 90px; right: 30px;">  -->
              <a href="/user/add" title="Add Employee" > 
            <button class="btn" type="button" style="background-color:#39ac73; border-radius: 30% 30% 30%; "> 
              <i class="fa fa-user-plus" style="font-size:30px; color: #000" >
              </i></button>
            </a>

					{% endif %}
          {% if user_list %}
        	<div class="table-responsive">
          	<br>
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email-ID</th>
                  <th>Team</th>
                  <th>Shift</th>
                  <th><center>Paid Leaves</center></th>
                  <th><center>Actions</center></th>
                </tr>
              </thead>
              <!-- <tfoot>
                <tr>
                  <th><center>Name</center></th>
                  <th><center>Email-ID</center></th>
                  <th><center>Team</center></th>
                  <th><center>Shift</center></th>
                  <th><center>Paind Leaves</center></th>
                  <th><center>Actions</center></th>
                  
                </tr>
              </tfoot> -->
              <tbody>
              	{% for user in user_list %}
	                <tr>
	                  <td>{{ user.name }}</td>
	                  <td>{{ user.email }}</td>
	                  <td>
                      {% for team in team_list %}
                        {% if user.team == team.id %}
                          {{ team.name}}
                        {% endif %}
                      {% endfor %}
                    </td>
	                  <td>
                      {% for shift in shift_list %}
                        {% if user.shift_id == shift.id %}
                          {{ shift.title }}
                        {% endif %}
                      {% endfor %}
                    </td>
	                  <td><center>{{ user.paid_leaves }}</center></td>
	                  <td>
	                  	<div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-2">
    	                  	<a href="#" title="Change Shift">
                          <i class="fa fa-clock-o" style="color:#555353; font-size:25px"></i>
                          </a>
                        </div>
                        <div class="col-sm-2">  
    	                  	<a href="/user/{{ user.id }}/update" title="Update">
                          <i class="fa fa-pencil-square-o" style="color:#555353; font-size:25px"></i>
                          </a>
                        </div>  
    				            <div class="col-sm-2">
    	                	  <a href="/user/{{ user.id }}/delete" title="Delete">
                           <i class="fa fa-trash-o" style="color:#555353; font-size:25px"></i>
                          </a>
                        </div> 
                        <div class="col-sm-3"></div> 
                      </div>
	                	</td>
	                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>

<!-- replace me -->
{% endblock %}
